@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html { 
    height:100%; 
}

body {
    margin: 0;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333333;
    scroll-behavior: smooth;
}

.v-Logo_Wrapper {
    display: flex;
    align-items: baseline;
}

.v-Logo_Text {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.v-Logo_Image {
    margin-left: .1rem;
    -webkit-animation: 3s rotate infinite ease-in-out;
    animation: 3s rotate infinite ease-in-out;
}

.v-Nav_Toggle {
    cursor: pointer;
    position: fixed;
    min-width: 50px;
    min-height: 50px;
    top: 45vh;
    left: 25px;
    display: flex;
    align-items: center;
    z-index: 4;
}

.v-Nav_Icon {
    width: 30px;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.v-Nav_Icon > *:not(:last-of-type) {
    margin-bottom: .4rem;
}

.v-Nav_IconLine {
    display: block;
    height: 3px;
    background: #333333;
    border-radius: 10px;
}

.v-Nav_IconLine:nth-child(1){
    width: 90%;
}

.v-Nav_IconLine:nth-child(2) {
    width: 100%;
}

.v-Nav_IconLine:nth-child(3) {
    width:60%;
}

.v-Nav_Text {
    width: 50px;
    height: 50px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.v-Nav_Text > * {
    display: inline-block;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/* Nav toogle hover effect */
.v-Nav_Toggle:hover .v-Nav_Text span:nth-child(1) {
    transform: translateY(10px);
}
.v-Nav_Toggle:hover .v-Nav_Text span:nth-child(2) {
    transform: translateY(20px);
}
.v-Nav_Toggle:hover .v-Nav_Text span:nth-child(3) {
    transform: translateY(10px);
}
.v-Nav_Toggle:hover .v-Nav_Text span:nth-child(4) {
    transform: translateY(20px);
}

.v-Nav_Toggle:hover .v-Nav_Icon {
    width: 40px
}

.v-Nav_Content {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: 3;
    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.v-Nav:not(.v-Nav_Open) .v-Nav_Toggle:hover ~ .v-Nav_Content {
    width: 100px;
}

/* Nav open effect */
.v-Nav_Open .v-Nav_Text {
    display: none;
}

.v-Nav_Open .v-Nav_Content {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    padding: 100px;
}

.v-Nav_Open .v-Nav_Content:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #e0a335;
}

.v-Nav_Open .v-Nav_IconLine {
    margin-bottom: 0;
    width: 30px;
    transform-origin: center center;
}

.v-Nav_Open .v-Nav_IconLine:nth-child(1){
    transform: rotate(45deg);
}

.v-Nav_Open .v-Nav_IconLine:nth-child(2) {
    display: none;
}

.v-Nav_Open .v-Nav_IconLine:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -2px;
}

.v-Nav_List {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    font-size: 8vw;
    font-weight: 600px;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.v-Nav_ListShown {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}

.v-Nav_Item {
    display: block;
    color: #333333;
    position: relative;
    width: fit-content;
    text-decoration: none;
}

.v-Nav_Item::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 2vw;
    left: 0;
    bottom: 3vw;
    background-color: #e0a335;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s;
}
  
.v-Nav_Item:hover::before {
    width: 100%;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s;
}


.v-Heading_Main {
    width: 100%;
    max-width: 650px;
    margin: 0;
    font-size: 150px;
    line-height: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
}

section {
    position: relative;
    min-height: calc(100vh - 125px);
}

.v-Section_PinContainer {
    width: 100%;
    height: calc(100vh - 125px);
    overflow: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
}

.v-Section_Container {
    display: flex;
    width: 200%; /* to contain 2 panels, each with 100% of window width */
    height: calc(100vh - 125px);
}

.v-Section_BgYellow {
    transition: width 2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #e0a335;
    z-index: 1;
}

.v-Section_Intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.v-Section_About {
	width: 50%; /* relative to parent -> 50% of 100% = 100% of window width */
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.v-About_Copy {
    width: 500px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
}

.v-Scroll {
    position: absolute;
    width: 20px;
    height: 50px;
    bottom: 10px;
    left: calc(50% - 20px);
    z-index: 1;
}

.v-Scroll_Text { 
    width: 14px;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 600;
}

.v-Scroll_Icon {
    margin-top: 10px;
    -webkit-animation: bounce 1200ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: bounce 1200ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}

.v-Section_Works {
    margin: 50px 0;
    padding: 50px;
    background-color: #f2f2f2;
}

.v-Works_Title {
    text-align: center;
}

.v-Works {
    position: relative;
}

.v-Work {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.v-Work_TitleWrapper > * {
    margin: 0;
}

.v-Work_TitleWrapper {
    position: absolute;
    width: 250px;
    height: 100%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.v-Work_TitleWrapper::before,
.v-Work_TitleWrapper::after {
    content: '';
    width: 2px;
    height: 110px;
    background-color: #e0a335;
    position: absolute;
}

.v-Work_TitleWrapper::before {
    top: 0;
}

.v-Work_TitleWrapper::after {
    bottom: 0;
}

.v-Work-right {
    justify-content: flex-end;
 }

.v-Work-left {
    justify-content: flex-start;
}

.v-Work-right .v-Work_TitleWrapper::before,
.v-Work-right .v-Work_TitleWrapper::after {
    left: 19px;
}

.v-Work-left .v-Work_TitleWrapper::before,
.v-Work-left .v-Work_TitleWrapper::after {
    right: 19px;
}

.v-Work-right .v-Work_TitleWrapper {
    transform: translateX(100px);
}

.v-Work-left .v-Work_TitleWrapper {
    transform: translateX(-110px);
    text-align: right;
}

.v-Works_Title,
.v-Work_Type,
.v-Work_Title  {
    font-weight: 400;
}

.v-Work_Type {
    text-transform: uppercase;
}

.v-Work_Title {
    font-size: 2em;
}

.v-Work_ImageWrapper {
    width: 450px;
    height: 300px;
    max-width: 100%;
    background-color: #f2f2f2;
    z-index: 1;
    overflow: hidden;
    transition: height 1s ease,
                opacity .2s ease;
}

.v-Work_Image {
    width: 100%;
    height: auto;
    -webkit-transition: transform 4s ease-in-out;
    transition: transform 4s ease-in-out;
}

.v-Work_TitleWrapper:hover ~ .v-Work_ImageWrapper .v-Work_Image,
.v-Work_Image:hover {
    transform: translateY(calc((100% - 300px)* -1));
}

footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.v-Footer_Cta {
    display: flex;
    cursor: pointer;
}

.v-Footer_Cta h3 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}

.v-Footer_Arrow {
    margin-left: 10px;
    width: 1rem;
    -webkit-transition: padding .5s ease;
    transition: padding .5s ease;
}

.v-Footer_Cta:hover .v-Footer_Arrow {
    padding-top: 20px;
}

.v-Footer_Link {
    display: block;
    position: relative;
    width: fit-content;
    color: #333333;
    text-decoration: none;
}

.v-Footer_Link::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 5px;
    left: 0;
    bottom: 7px;
    background-color: #e0a335;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s;
}
  
.v-Footer_Link:hover::before {
    width: 100%;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s;
}

/* Utilities */
.rotate-90 {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    transform-origin : center center;
}

.text-color-yellow {
    color: #e0a335;
}

.text-color-black {
    color: #333333;
}

/* Animation Keys */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(.25turn);
    }

    20% {
        transform: rotate(0turn);
    }
 
    40% {
         transform: rotate(.5turn);
    }
 
    60% {
         transform: rotate(.75turn);
    }
 
    80% {
        transform: rotate(1turn);
    }

    100% {
        transform: rotate(.25turn);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(.25turn);
    }

    20% {
        transform: rotate(0turn);
    }
 
    40% {
         transform: rotate(.5turn);
    }
 
    60% {
         transform: rotate(.75turn);
    }
 
    80% {
        transform: rotate(1turn);
    }

    100% {
        transform: rotate(.25turn);
    }
}